.loginWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
    background-color: black;
    color: white;
    z-index:-1;
}

.loginPageContent {
    width: 100vw;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.right-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
}

.right-container {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: black;
}


.input-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.input-btn-caption{
    font-size: 20px;
    font-weight: 600;
    color: blue;
}

.submit-button{
    margin-top: 30px;
    height: 50px;
    width: 100px;
    background-color: lightyellow;
    color: white;
    border-radius: 10px;
}

.submit-btn-caption {
    font-size: 20px;
    font-weight: 600;
    color: blue;
    /* -webkit-text-stroke: 1px;
    -webkit-text-fill-color: black; */
}

.input-box{
    background-color: lightyellow;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    padding-left: 10px;
}

.login-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-design{
    font-style:italic;
    font-size: 30px;
    font-weight: 400;
    color: blue;
}

.user-name{
    font-style:italic;
    font-size: 20px;
    color: aqua;
}

.user-pass{
    font-style:italic;
    font-size: 20px;
    color: aqua;
}

@media (max-width: 768px) {
    .loginPageContent {
        flex-direction: column;
    }

    .left-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -20%;
        margin-bottom: -20%;
    }
    .videoContainer{
        height: auto;
    }

    .video-player {
        width: 100%;
    }

    .right-container {
        margin-top: 10%;
        margin-bottom: 10%;
        padding-left: 30px;
        padding-right: 30px;
        width: 70%;
    }
}

@media (min-width: 768px) {
    .right-container {
        margin-left: 5vw;
        margin-right: 5vw;
        width: 40vw;
    }

    .loginPageContent {
        flex-direction: row;
    }

    .videoContainer{
        height: 100vh;
    }

    .video-player {
        width: 100%;
        height: 100%;
    }

    .left-container {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index:0;
    }
}
