.loginWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
    background-color: black;
    color: white;
    z-index:-1;
}

.loginPageContent {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.left-container {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:0;
}

.right-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
   

.videoContainer{
    height: 100vh;
}