.ways-to-earn-page-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
    background-color: black;
    color: white;
}

.pageContent {
    height: 100vh;
}
