.about-page-wrapper {
    align-items: center;
    color: white;
}

.pageContent {
    margin-top: 10vh;
}

.img-container-about {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-box-about{
    margin: 30px;
    width: 100vw;
    z-index: 0;
}