.HomeWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    background-color: black;
    color: white;
}

.pageContent {
    height: 100vh;
}
