.HomeWrapper {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;
}

.homePageContent {
    width: 100vw;
    height: 100vh;
}

.landing-page-caption {
    font-size: 40px;
    font-weight: bolder;
}
