.profile-dashboard-wrapper {
    margin-top: 10vh;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
