.networkWrapper {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
    background-color: black;
    color: white;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url("../../../resources/images/backgrounds/bg-white-green-flower.jpeg");
    background-size: cover;

}

.network-page-content {
    height: auto;
}
