.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* flexbox: */
.justify-center {
  justify-content: center;
}

.align-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.fb {
  display: flex;
}

/* margins: */
.mt-1 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.mr-1 {
  margin-right: 10px;
}
