.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* flexbox: */
.justify-center {
  justify-content: center;
}

.align-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.fb {
  display: flex;
}

.fb-row {
  flex-direction: row;
}

/* margins: */
.mt-1 {margin-top: 10px;}
.mt-2 { margin-top: 15px;}
.mt-3 { margin-top: 20px;}
.mt-4 { margin-top: 25px;}
.mt-5 { margin-top: 30px;}



.mb-1 {
  margin-bottom: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 15px;
}
.mr-1 {
  margin-right: 10px;
}

.font-large {
  font-size: large;
}

.pointer {
  cursor: pointer;
}

.w-1 {
  width: 10px;
}

.w-2 {
  width: 15px;
}

.w-3 {
  width: 20px;
}

.w-4 {
  width: 25px;
}

.w-5 {
  width: 30px;
}


/* paddings: */
.pl-1 {
  padding-left: 5px;
}
