.product-page-wrapper {
    align-items: center;
    color: white;
}

.pageContent {
    margin-top: 10vh;
}

.img-container-product {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-box-product {
    margin: 30px;
    z-index: 0;
}

@media (max-width: 768px) {
    .image-box-product {
        width: 100vw;
    }
}

@media (min-width: 768px) {
    .image-box-product {
        height: 90vh;
    }
}

