.product-page-wrapper {
    align-items: center;
    color: white;
}

.pageContent {
    margin-top: 10vh;
}

.img-container-product {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-box-product-list {
    margin: 30px;
    height: auto;
    z-index: 0;
}

.image-box-product-list {
    margin: 30px;
    height: 90vh;
    z-index: 0;
}
