.tree-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 90vw;*/
    width: 400px;
}

.children-nodes-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.root-node {
    border: solid 2px darkslategray;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

.child-node-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-child-node {

}

.right-child-node {

}


