.tree-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-tree {
    width: 420px;
}

.middle-tree {
    width: 360px;
}
.bottom-tree {
    width: 160px;
}


