.editProfileWrapper {
    margin-top: 10vh;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;
}

.profile-photo-wrapper{
    margin-top: 40px;
    width: 100px;
    height: auto;
}
